$bg: #f6f8ff;
$bg-dark: #141c2f;
$bg-content: #fefefe;
$container-color-alt: #222a42;

$text: #4b6a9b;
$text-alt: #2b3442;
$shadow-active: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
$icon-bg: brightness(100%);

/* Btn */
$btn: #0079ff;
$btn-hover: #60abff;
